@charset "UTF-8";

/* ===== style.cssの上書き ===== */
.innerWrap , .sheetPage4 , .sheetPage420 ,
.sheetPage5 , .sheetPage50 {
    max-width: 100%; 
}
.sheetPage50 {
    width: 100%;   /* 4/24 1200 -> 100% */  
}
.sheetPage50 ul {
    max-width: 100%;
}
.modalDrawer {   /* 4/24 add */
    width: 100%;
    background-color: #784c45;
    /*
    color: #000000;   /* 4/25  add */
    text-align: left;   /* 4/25 add */
    margin: 20px auto; 
    padding: 20px;   /* 4/24 cha */
  }

.sheetPage43 , sheetPage501 {
    max-width: 100%;
}

.sheetPage50 ul li {
    /*
    max-width: 100%;   4/25 del */
    width: 800px;
}
.moreBtn , .moreBtn1 {
   /* margin: 4px auto;   */
    background-color: #0c84ca;
    border : 1px solid #0c84ca;  /* 4/25 add */
   /* text-align: left;   /* 4/26 cha */
    color: #ffffff;
    font-size: 18px;    
}
.moreBtn {
    text-align: left;   /* 4/25 cha */ 
}
.moreBtn1 {   /* 4/25 */
    width: 300px;
    text-align: center; 
    margin: 10px auto; 
}
img {
     max-width: 100%;
}
/* ===== 機能の実装に必要なCSS ===== */
/* ドロワーナビゲーションの必須スタイル */
.sheetPage43 {
    position: absolute;
    right: -1200px;
    top: 0;
    width: 1200px;
    height: 100%;
    /*
    background-color: #f4d943;    
    margin: 20px auto;  /* 4/24 add */
   
}
.sheetPage501 {
    position: absolute;
    right: -1200px;
    top: 0;
    width: 1200px;
    height: 100%;
    /* 4/24 del
    background-color: #f4d943;
    */
   
}

/* ドロワーが開かれたときのスタイル */
.show {
    transform: translate3d(-1200px, -600px, 0);   /* 4/24 cha -600 <- -400 */
}


/* 開く・閉じるアニメーション */

#modalOpen_nav1 , #modalOpen_nav2 , #modalOpen_nav3 ,
#modalOpen_nav4 , #modalOpen_nav5 , #modalOpen_nav6 {
    transition: transform 0.3s;
} 