@charset "utf-8";

body {
  width: 1240px;
  background-color: #007AB7;
  font-size: 20px;
  font-family: 'arial','Hiragino Sans','Meiryo',sans-serif;
  color: #ffffff;
}
.ffJosefin {
  font-family: 'Josefin Sans',sans-serif;
}
.innerWrap {
  width: 1240px;
  margin: 0 auto;
  padding: 80px 20px 0;
}
header {
  width: 1240px;
  margin: 0 auto 44px;
}
header .innerWrap {
  height: 720px;
  position: relative;
}
header h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 120px;
  text-align: center;
  font-size: 120px;
  font-style: italic;
 font-weight: bold;

  color: #ffffff;
  padding: 20px 0px 16px;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  color: #ffffff;
  padding: 20px 0px 16px;
  margin: 8px auto;
}
header nav {
  
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  width: 1240px;
  margin: 0 auto;
  padding: 10px 20px;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav ul li a:hover {
  text-decoration: underline double;
}
/*
header a {
  position: absolute;
  left: 0;
}
*/



h3 {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  color: #ffffff;
  padding: 20px 0px 16px;
  margin: 8px auto;
}
h4 {
  text-align: left;
  font-size: 28px;
  font-style: normal;
  color: #ffffff;
  word-break: break-all;
  padding: 20px 0px 16px;
  margin: 20px auto;
  width: 640px;
}
aside {
  width: 800px;
  margin: 40px auto;
}
aside nav {
  border-radius: 16px;
  background-color: #ffffff;
  /*
  box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
  */
  padding: 24px 28px;
  margin-bottom: 24px;
}
aside nav h3 {
  text-align: center;
  margin-bottom: 18px;
  font-size: 20px;
  color: #000000;
}
aside nav ul {
  width: 640px;
  font-size: 30px;
  text-align: center;
  margin: 40px auto;
}
.listNav1 ul li ,
.listNav2 ul li ,
.listNav3 ul li {
  width: 640px;
  list-style-type: square;
  color: #000000;
 
  text-align: left;

  padding: 4px auto;
  margin: 4px auto;
 
 
}
.listNav1 ul li a ,
.listNav2 ul li a ,
.listNav3 ul li a {  
  width: 640px;
  /*
  text-align: center;
  */
  color: #000000;
  margin: 10px auto;
}
.sheetPage41 {
  width: 640px;
  margin: 40px auto;
  text-align: center;
 
}

adress {
  font-size: 30px;
  position: center;
  text-align: center;
  
}

footer {
  width: 1240px;
  background-color: #c71585;
  color: #ffffff;
  text-align: center;
  clear: both;
	padding: 60px 0px 0px 0px;
	text-align: center;
  
}
footer span a {
	color: #ffffff;
	font-size: 20px;
	margin: 0px 40px 0px 0px;
	text-decoration: none;
}
footer p {
  color: #ffffff;
	font-size: 24px;
	margin: 30px 0px 0px 0px;
}