@charset "utf-8"; 

/*  header set */
body {
  font-family: Zen Kaku Gothic New;
  font-size: 20px;
  color: #000000;
}
.peiSwich {
  font-family: Zen Kaku Gothic New; 
}
.innerWrap {
  width: 1240px;
  margin: 0 auto;
  padding: 80px 20px 0;
}
header .peiTop {
  width: 1366px;
  height: 768px;
  background: url(../images/peiPhoto1.png) no-repeat right center/cover;
  background-size: contain;
  font-family: Zen Kaku Gothic New;
}

header .logo1  {
  width: 133px;
  height: 54px; 
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

header .icon1 img {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 512px 1231px 224px 103px;
  
 }
header .icon2  {
  width: 40.92px;
  height: 49.923px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 575.01px 1222.07px 143.07px 94.01px;
}
header .icon3 img  {
  width: 38.9px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 656px 1224.1px 80px 103px;  
}
header .logo3 img {
  width:300px;
  height : 539px;
  position: absolute;
  left: 0;
  top: 0;
  margin : 94px 703px 134px 363px; 
 
}

header .textTop {
  width: 467px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 652px 103px 20px 796px; 
  font-size: 12px;
  font-family: Zen Kaku Gothic New;
  font-style: normal; 
  color: #ffffff;
  text-align: left;
  word-break: break-all; 
  /*
  white-space: pre-wrap;
  */
  
}


header nav {
  /*
  position: fixed;
  */
  position: absolute;
  top: 0;
  left: 200px;
  width: 50%;
  z-index: 100;
  
}

header nav ul {
  display: flex;  
  justify-content: space-around;
  width: 1000px;
  margin: 0 200 0 auto;
  padding: 4px 4px;
  font-size: 24px;
  font-family: Zen Kaku Gothic New;
  font-style: normal;
  color: #ffffff;  
}
header nav ul li a:hover {
  text-decoration: none;
}
header .textAdress {
  width: 1200px;
  height: 50px;
  font-size: 20px;
  font-family: Zen Kaku Gothic New;
  font-style: normal;
  color: #000000;  
  border-bottom : 3px solid #000000;

}

/* header set end */
/* main section 1 */

main h1 {
  width: 530px;
  /*height: 96px; */
  background: url(../images/entryWord.png) no-repeat right center/cover;
  background-size: cover;
  text-align: center;
  font-size: 48px;
  font-family: Zen Kaku Gothic New;
  color: #000000;
  letter-spacing: .05em;
  margin-bottom: 80px;
  font-style: normal;
  /*font-weight: 400;
  line-height: 48px; /* 100% */  
}

h2  {
  font-family: Zen Kaku Gothic New;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  color: #000000;
 }
main .tour10 , main .tour11 , 
main .tour20 , main .tour21  {  
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
 
}
main .item10 img , main .item20 img {
  width: 600px;
  margin: 8px 8px;
  flex-basis: auto;
}
main .item11 , main .item21 {
  width: 420px;
  flex-basis: auto;
  margin: 8px 8px; 
}
main .item12 img , main .item13  img , 
main .item22 img , main .item23  img {
  width: 290px;
  flex-basis: auto;
  margin: 8px 8px;
}
main .item12 img , main .item13 img {
  height: 167px;

}


main .item14 , main .item24 {
  width: 500px;
  flex-basis: auto;
  margin: 8px 8px;
}
p.text1 , p .text2 {
  font-size: 20px;
  font-family: Zen Kaku Gothic New;
  font-style: normal;
  color: #000000;
  word-break: normal; 
  /*
  white-space: pre-wrap;
  */
  text-align: left;
}
.text1 {
  word-break: normal; 
  text-align: left; 
}
.text2 {
  text-align: center;
}


/* main section 3 */

main .tour3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
 
}

main .item30   {
  width: 420px;
  /*
  height: 197px; 
  */
  flex-basis: auto;
  margin: 8px 8px;
}

main .item31  img {
  width: 540px;
  flex-basis: auto;
  margin: 4px 4px;
  
}
main .item32   {
  width: 460px;
  flex-basis: auto;
  right:20px;
  margin: 8px 8px;
}
/* drawer add **/
.toureN {
    width: 460px;
    height: 220px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 460px;
    margin: 4 auto;
    justify-content: space-around;
    padding: 4px auto;
} 

main nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 460px;
  margin: 4 auto;
  justify-content: space-around;
  padding: 4px auto;
}

main nav ul li {
  width: 210px; 
  /*
  background: url(../images/bottanFrame.png) no-repeat right center/cover;  
  */
  flex-basis: auto;
  padding: 4px 4px;
  margin: 4px 4px;
 }
.drawer1 img , .drawer2 img , .drawer3 img , .drawer4 img {
    width: 210px;
    height: 90px;
    margin: 4px;
    
}


main .item33 img {
  width: 540px;
  /*
  height: 264px; 
  */
  flex-basis: auto;
  margin: 8px 8px;
  
}

/* main section 4 */
main .tour4  {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
}
main .item40  {
  width: 1160px;
  /*
  height: 336px;
  */
  flex-basis: auto;
  margin: 8px 8px;   
}
main .item41 {
  width: 480px;
  /*
  height: 406px;
  */
  flex-basis: auto;
  margin: 8px 8px;   
}
main .item411 {
  width: 311px;
  /*
  height: 24px; 
  */
  flex-basis: auto;
  margin: 8px 8px;  
}
main .item412 {
  width: 400px;
  /*
  height: 154px; 
  */
  flex-basis: auto;
  margin: 8px 8px;  
}
main .item42 img {
  width: 246px;
  /*
  height: 155px; 
  */
  flex-basis: auto;
  margin: 8px 8px;
  align-self: flex-end;
}
/*  main END */
  /* modal */
 
  .modalType {
  width: 1366px;
  background-color: #007AB7;
  margin: 20px auto;
  padding: 20px 20px 0; 
   }

h3 {
  left: 0;
  text-align: center;
  font-family: Zen Kaku Gothic New;
  font-size: 36px;
  font-style: normal;
  color: #ffffff;
}  
main .modalN1 , main .modalN2 , 
main .modalN3 , main .modalN4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: space-around; 
} 
main .modal10 img  , main .modal20 img , 
main .modal30 img , main .modal40 img {
  width: 600px;
  /*
  height: 468px;  
  */
  flex-basis: auto;
  margin: 8px 8px;   
}
main .modal11 , main .modal21 , 
main .modal31 , main .modal41  {
  width: 500px;
  /*
  height: 460px; 
  */
  flex-basis: auto;
  margin: 8px 8px; 
  
}
main .modal111 , main .modal211 , 
main .modal311 , main .modal411 {
  width: 500px;
  /*
  height: 192px; 
  */ 
  font-size: 20px;
  font-family: Zen Kaku Gothic New;
  font-style: normal;
  color: #ffffff;
  word-break: normal; 
  text-align: left;
 } 

main .modal112 , main .modal212 , 
main .modal312 , main .modal412  {
  width: 169px;
  margin: 8px 8px; 
  font-size: 20px;
  justify-content: center;
  font-family: Zen Kaku Gothic New;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  
}
/** ドロワー表示を閉じるボタン **/
.modalClose1 , .modalClose2 , .modalClose3 , .modalClose4 {  
  
    position: relative;
   
    width: 28px;  
    height: 28px;
    top: 0;    
    left: 1280px;
}
/* modal eria end */
/* footer */
.footer {
  height: 489px;
  background-color: rgba(0, 122, 183, 0.9); 
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  
}






.footerContainer {
  display: flex;
  border-bottom: 1px solid #03A9F4;
  padding: 0 20px 20px 20px;
  margin: 0 83px;
  width: 1200px;
  
}
.footerLeft {
  width: 332px;
  height: 292px;
}
.footerList li {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 32px;
}
.footerCenter, .footerRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footerCenter {
  margin-left: 120px;
}
.footerRight {
  margin-left: 269.1px;
}
.footerRight img {
  margin-left: 40px;
}
.imgFooter1 {
  width: 64px;
  height: 48px;
  margin: 40px auto 28px;
}
.imgFooter2 {
  width: 256px;
  height: 103px;
}
.copyRight {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.footer {
  height: 489px;
  background-color: rgba(0, 122, 183, 0.9); 
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  
}
.footerContainer {
  display: flex;
  border-bottom: 1px solid #03A9F4;
  padding: 0 20px 20px 20px;
  margin: 0 83px;
  width: 1200px;
  
}
.footerLeft {
  width: 332px;
  height: 292px;
}
.footerList li {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 32px;
}
.footerCenter, .footerRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footerCenter {
  margin-left: 120px;
}
.footerRight {
  margin-left: 269.1px;
}
.footerRight img {
  margin-left: 40px;
}
.imgFooter1 {
  width: 64px;
  height: 48px;
  margin: 40px auto 28px;
}
.imgFooter2 {
  width: 256px;
  height: 103px;
}
.copyRight {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}
