@charset "UTF-8";
body {
  width: 100%; /* 1366->1240 */
  background-color: #ffffff;
  font-family: Noto Serif JP;
  font-size: 16px;
  color: #333333;
}
img {
  max-width: 100%;
}
.topPage header {
  width: 100%;
  /* height: 90vh; */
  padding: 4px; /* 59->4 */
  margin-bottom: 4px; /* 64 ->4 */
}
.innerWrap {
  width: 100%; /* 1366->1240 */
  height: 100%;
  margin: 0 auto;
  padding: 10px 10px ; /* 10 -> 4 */ 
}
.topMenu {
  width: 100%;
  height: 100%;
}
.topLogo img {
  width: 400px;  /* 400 -> 370 4/8 Cha */
  left: 10px;
  margin: 5px  5px;
  padding: 10px 10px;
}
.topPhoto img {
  width: 1366px; /* 1366->1240 */
  height: 100%; /* 545px -> 100% */
}
.menu {
  font-family: Noto Serif JP;
}


header nav {
  position: absolute;
  top: 0;
  left: 400px;
  width: 100%;
 /* z-index: 100; */
}
header nav ul {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: 0 10 0 auto;
  padding: 4px 4px;
  font-size: 16px;
  font-family: Noto Serif JP;
  font-style: normal;
  color: #333333;  
}
header nav ul li a:hover {
  text-decoration: none;
}

.blank {
  width: 100%; /* 1366->1240 */
 
}
h1 {
  color: #333333;
  font-family: Noto Serif JP;
  text-align: center;
  font-size: 42px;
  margin: 20px auto;
}
h4 {
  color: #223e69;
  text-align: center;
  font-family: Noto Serif JP;
  font-size: 16px;
  margin: 20px auto;
  width: 300px;
}
h4 span {
  width: 30px;
}
h3 {
  color: #b71b26;
  text-align: center;
  font-family: Noto Serif JP;
  font-size: 16px;
  margin: 20px auto;
  width: 300px;
}
h3 span {
  width: 30px;
}  
h2 {
  color: #333333;
  font-family: Noto Sans JP;
  text-align: center;
  font-size: 28px;
  margin: 20px auto;
}
main .text1 {
  width: 1020px;
  margin: 10px auto; 
  font-size: 28px;
  font-family: Noto Sans JP;
  font-style: normal; 
  color: #333333;
  text-align: left;
  word-break: break-all; 
}
.page2 {
  width: 1020px;
  display: flex; 
  flex-wrap: wrap;
  max-width: 1020px;
  margin: 0 auto;
  justify-content: space-around;
}
.page20 {
  width: 300px;
  display: block; 
  /*
  flex-basis: auto;
  */
  align-self: center;
  margin: 8px auto; 
}
main .photo img {
  width: 300px;
  height: 211px;
  margin: 20px auto;  
}
main .name {
  width: 280px;
  margin: 4px auto;
}
h5 {
  color: #333333;
  font-family: Noto Serif JP;
  text-align: center;
  font-size: 24px;
}
main .text2 {
  width: 280px;
  color: #333333;
  font-family: Noto Sans JP;
  font-size: 16px;
  text-align: left;
  word-break: break-all; 
  margin: 4px auto;
}
input[type="submit"] {
  text-align: center; 
  padding: auto;
}
.next {
  width: 54.75px;
  height: 21px;
  align-self: flex-end;
  background-color: #ffffff;
  /*
  margin-right: 0px;
  */ 
  margin-bottom: 0;
  margin: 4px 0px 4px auto;
}

.next p {
  font-family: Noto Sans JP;
  font-size: 16px;
  text-align: right;
  color: #333333;
}
.page3 {
  width: 920px;
  margin: 10px auto;
}
.flow-a {
  width: 920px;
  display: block; 
   /*display: inline-block;  */
  text-align: center;
  font-family: Noto Sans JP;
  margin-bottom: 20px;
  margin: 10px auto;
  /* transform-origin: top left;  */  
  
  transform: rotate(-90deg);  /* PC用*/
  
}

.flow-a li {
  display: block; 
  list-style-type: none; 
  background-color: #333333; 
  border: 3px solid #ffffff;
  border-radius: 20px;
  margin: 0 auto;
  width: 280px;
  height: 60px;
  padding: 10px 10px;
 
}

.step {
  display: inline-block; 
  font-size: 28px;
  font-family: Noto Sans JP;
  color: #ffffff; 
  font-weight: bold;
  margin: 0 auto;
  width: 280px;
  padding: 10px auto;
  transform: rotateZ(180deg);            /* PC用*/
 
}
.step span {
  display: inline-block; 
  transform-origin: center center;
  transform: rotate(270deg);
}

ol .mark {
  background-color: #ffffff;
}
.mark span {  
  /*display: block; */
  width: 30px;
  height: 60px;
  background-color: #ffffff;
  text-align: center;
  color: #b71b26;
  margin: 5px auto;
 
}  


.page4 {
  width: 1020px;
  margin: 10px auto;
}
.QandA {
  width: 1020px;
  max-width: 1020px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 10px auto;
}
.QandA dt {
  padding:8px 8px;
  
}
.QandA dd {
  width: 960px;  /* 960 -> 100% 4/7 NG JP; */
 font-family: Noto Sans;
  color: #333333; 
  font-size: 30px;
  align-self: flex-start;   /* 4/8 del */
  text-align: left;
  word-break: break-all; 
}
.chara-q , .chara-a {
  width: 52px;
  height: 52px;
  font-family: Noto Serif JP;
  font-size: 34px;
}
.chara-q span {	
  text-align: center;
	background-color: #333333;
  color: #ffffff;
  border-radius: 50%;    /* P.89 */
}
.chara-a span {	
  text-align: center;
  width: 52px;
	background-color: #b71b26;
  color: #ffffff;
  border-radius: 50%;    /* P.89 */
}
.page5 {
  width: 100%; /* 1366->1240 */
  background-color: #f5f5f5;
  
}
.inquiry {
  width: 916px;
  margin: 10px auto;
}
.inquiry form p {
  font-family: Noto Sans JP;
  font-size: 20px;
  text-align: left;
  color: #333333;
}
.inquiry form p span {	
  width: 58px;
  height: 24px;
	font-size: 16px; 
  color: #ffffff;
	background-color: #b71b26;
 	border: 2px solid #ffffff;	
	border-radius: 5px;    /*p.82 */
	padding: 2px 2px;
}
input[type="checkbox"] {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  color: #333333;
  border: 3px solid #ffffff;
  border-radius: 12px;
  color: #333333;
  padding: 18px 80px;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 100%;
  margin-top: 5px;
  padding: 4px 8px;
}
input[type="text"],
input[type="email"] {
  width: 664px;
  /*
  height: 208px;
  */
}
input[type="number"] {
  width: 222px;
  /*
  height: 52px;
  */
}
textarea {
  width: 664px;
  height: 208px;
  margin-bottom: 30px;
}
.submitBtn {
  width: 300px;
  background-color: #333333; 
  margin: 0 auto;
}
form .submitBtn input {
  font-family: Noto Serif JP;
  text-align: center;
  color: #ffffff;    
  font-size: 20px; 
  padding-left: 50px;
  padding: 5px auto;
}

.page6 {
  width: 100%; /* 1366->1240 */
  background-color: #ffffff;
}
.page60 {
  margin-bottom: 0;
  margin: 0 20px 0 auto;
  width: 60px;
}


.footerErea {
  width: 100%; /* 1366->1240 */
  height: 62px;
  padding-top: 20px;
  background-color: #333333;
  margin: 10px auto;
}
.ending {
  widows: 278px;
  margin: 10px auto;
}
footer p {
  font-family: Noto Serif JP;
  text-align: center;
  color: #ffffff;  
  font-size: 14px;
}
footer p small {
  font-size: 10px;
}

/* チェックボックスは常に非表示です */
.gMenu .menu-btn {
  display: none;
}

/* multi type  add erea */

/*** マルチメディア対応　P.198   **********/
@media screen and (max-width: 768px) {

  header nav ul , .page20 , 
  .page2 {
    display: block;
  }
  .chara-a span , .chara-q span {
    text-align: left;
  }
 
  .flow-a , main .photo img , .topMenu , .page60 img,
  .topPhoto img , .blanlk ,  .footerErea ,
  .topLogo img ,     /* 4/9 del */
  .inquiry form p span ,
  .next , .flow-a li  , textarea  {
    width: 100%;
    height: 100%;
  /*  object-fit: cover;  */
  }
  .topLogo img {  /* 4/8 add */
    width: 330px;  /* 4/11 350 -> 330 */
    left: 0;
    margin: 0px;
    padding: 4px;
  }
  body , .innerWrap ,  .blank , .page5 , 
  .page6 , .footerErea , main .text1 ,  
  main .text2 , .page4 , .QandA , .page2  {
    width: 100vw;
  }
  
  .inquiry , input[type="text"],
  input[type="email"] ,
  .submitBtn ,  .page3 ,
  header nav ul {
    width: 100%;
  }
  main .photo img {
    width: 100%;
  }
  
  h1 , h2 , h3 , h4 ,  main .name ,
  .step , .flow-a li , input[type="number"] ,
  .submitBtn , .ending ,
  .page20 , .next  {
    width: 100%;
  }
  
  .page60 img {   /* 4/11 */
    margin: 0px 28px 0px auto;
  }
  .footerErea {
    padding-bottom: 10px;
  }
 
 /*   SP SET */
  .flow-a {    
    transform: rotate(360deg);  /* SP用*/  
  } 
  .step {    
    transform-origin: center center;  /* SP用*/  
    transform: rotate(360deg);       /* SP用*/ 
  }
  .step span {
    transform-origin: center center;  /* SP用*/ 
    transform: rotate(360deg);       /* SP用*/  
  } 
  /* SP SET END */ 
  h1 {
    font-size: 26px;  /* 42 -> 26 */
  }
  h2 , main .text1 p {
    font-size: 18px;  /* 28 -> 18 */
  }
  h5 , .step ,  .inquiry form p {
    font-size: 16px;  /* 24 -> 16 */
  }
  .QandA {            /* 3/9 add */
    width: 330px;
    max-width: 330px; 
    justify-content: flex-starts;
  }
  .QandA dt , .chara-q , .chara-a {
    width: 20px;    /* 30 -> 20  4/9 CH */
    padding: 4px;  /* 4/9  add */  
  }
  .QandA dd {
    width: 300px;  /* 4/9  add */
    height: 100%;  /* 4/9  add */  
    font-size: 16px;  /* 30 -> 16 */
    align-self: flex-start; /* 4/9 ch */
  } 
  .chara-a span , .chara-q span {
  /*  width: 100%;
    height: 100%; */  /* 4/9 del */
    font-size: 16px;  /* 34 -> 16*/
    text-align: left;
  }
  .inquiry form p span , h4 , main .text2 p {
    font-size: 14px;  /* 16->14 */
  }
  header nav {    /* 4/8 add */
    position: absolute;
    top: 0;
    left: 0px;
   /* z-index: 100; */
  }
 .submitBtn {
    width: 240px;
 }

  form .submitBtn input {
    text-align: center;
    font-size: 16px; 
  }

  /* 以下に参考サイトのメニュー用CSSを貼り付ける */
  /* メニューを画面上部に固定表示しています */
  .gMenu {
    position: absolute; /* fixed -> absolute */
    right: 0px;  /* 4/11  0 -> -10 */
    top: 0;  
    width: 100%;
    /* z-index: 99;  */
   
  }
  /* メニューアイコンを画面右上に固定しています */
  .gMenu .menu-icon {
    cursor: pointer;
    position: absolute;
    right: 0; /* 4/7 */
    top: 4px;   /* 12 -> 4  */                    
    padding-top: 4px;  /* 5->4 */
   /* margin: 0px 8px 0px auto; /* ADD */
   /* height: 12px;  /* 12 -> 20 */
  }
  /* メニューアイコン（三本線）の真ん中の線です */
  .gMenu .menu-icon .navicon {
    background: #b71b26; /* 色は自由に変更可能です */
    display: block;
    height: 2px; /* 太さ */
    width: 31px; /* 長さ */
    position: relative;
    transition: background .4s ease-out; /* 形が変わる時のアニメーション */
  }
  /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background: #b71b26; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 100%;
  }
  .gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
  .gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
  /* 表示されるメニューです */
  .gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
  }
  /* メニュー部分のデザインです */
  .gMenu .menu li:first-of-type {
    padding-top: 50px;
  }
  .gMenu .menu li a {
    display: block;
    padding: 24px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .gMenu .menu li a:hover {
    background-color: #ffffff;
  }
  /* チェックボックスは常に非表示です */
  .gMenu .menu-btn {
    display: none;
  }
  /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
  .gMenu .menu-btn:checked ~ .menu {
    right: 0;
    max-height: 338px; /* ★チェックボックスがオンの時高さを338->532pxにして表示させます */
    transition: max-height .6s;
  }
  /* メニューボタンの中央の線を非表示に */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

  /* メニューボタンの上下の線を45度傾けて✕印を作ります */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
  /* サイトに合わせてオリジナルカスタマイズ */
  .gMenu .menu-icon {
    top: 26px;
  }
  .gMenu .menu-icon .navicon,
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background: #333333;
  }

}
