@charset "utf-8"; 

/*  header set */
body {
  font-family: Noto Sans JP;
  font-size: 12px;
  color: #7f5539;
}
.innerWrap {
  width: 1366px;  /* PHP  1366  -> 375 */
  margin: 0 auto;
  padding: 80px 20px 0;
}
img {
  max-width: 100%;
}
.topPage header {
  height: 90vh;
  /*
  background: url(../images/top_bg.jpg) no-repeat center top/cover;
  */
  padding-top: 50px;
  margin-bottom: 64px;
}


/* PHP  *****/

.shopTop {
  width: 375px;
  position: absolute;
  top: 0;
  left: 10px;
  height: 133px;
  background-color: #ede0d4; 

}
/*******************/

.logoArea {
/*
  width: 1366px;
  background-color: #ffffff; 
  display: flex;  
  height: 118px;

PHP   */

  width: 375px;
  display: flex;
  margin: 12px auto;
  position: absolute;

}

.logo1 {
/*
  width: 87px; 
  top: 0;
  margin: 20px auto;
** PHP */

  width: 62px;
  margin: 0px auto;

  /*
  height: 78px;
  */
}
.logo2 {
/*
  width: 48px;
  margin: 50px 20px 10px 50px;
***  PHP */
  width: 24px;
  margin: 12px 20px 10px 10px;

}
.logo3 {
/*
  width: 36px;
  margin: 50px 20px 10px 20px;
*** PHP */
 width: 30px;
 margin: 12px 20px 10px 20px;

}

/***   PHP
.searchArea {
  width: 1366px;
  background-color: #d9d9d9;
  height: 64px;

}
****/

.logo4 {
/*
  width: 360px;
  position: absolute;
  left: 1150px;
  justify-content: flex-start;
  align-items: flex-start; 
  margin-bottom: 20px;
  height: 40px;
** PHP */
 width: 318px;
   position: absolute;
  top: 70px;
  height: 37px;
  left: 50px; 
  margin-bottom: 10px;
}

.subPage header {
  border-top: 14px solid #f5f5f5;
  padding-top: 40px;
  margin-bottom: 30px;




}
/* main */
.loginPlace {
  width: 375px; /* PHP */
  height: 36px;
  background: #ffffff;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7f5539;
}
.loginName {
  width: 375px; /* PHP */
  height: 36px;
  background: #ffffff;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7f5539;
}
h1 {
  font-size: 32px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  letter-spacing: .17em;
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  text-align: center;
  color: #7f5539;
}


h4 {
  font-family: Noto Sans JP;
  font-size: 12px;
  color: #7f5539;
}


/*  footer  */

.footer {
  width: 375px;  /* PHP */
  /*
  height: 448px;
  */
  background: #ede0d4;
/* PHP */
 height: 337px;
  position: relative;
?* PHP */
  margin: 10px;

}


.footerContainer {
  width: 375px;
/* PHP */
  margin: 10px;
}
.footerTop {
  width: 375px; /*  PHP */

}
.footerLeft ul {
/*
  display: flex;
  width: 510px;
  margin-top: 10px;
** PHP  */
 display: block;
  width: 120px;

}
.footerLeft li {
  width: 120px; /* 170 -> 120 */
  list-style-type: none;                                                                                                     
  margin-bottom: 12px;
  font-size: 12px;  /* 16 ->12 */
  text-align: center;
  line-height: 12px;
  padding-bottom: 6px;
  margin-top: 10px;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #b392ac;

}
.footerLeft li a {
  text-decoration: none;
}


.footerCenter {
/*
  width: 144px;
  height: 128px;
  margin: 100px auto;
** PHP */
 width: 72px;
  position: absolute;
  bottom: 0;
  left: 250px;
  margin: 10px 10px 40px 10px;
 
}

.footerIcon {
position: absolute; /* PHP */
  left: 10px;   /* PHP */
 
  width: 142.9px; /* 190 -> 142.9 */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px auto;

}
.icon1 {
  width: 32px;
  /*
  margin: 10px 10px 10px 10px;
  */
}
.icon2 {
  width: 32px;
}
.icon3 {
  width: 38.9px;
  /*
  margin: 10px 10px 10px 10px;
  */
}

.footerUnder {
  width: 1366px;
  height: 52px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7f5539;
}
.copyRight {
 width: 171px;

 
  color: #7f5539;
  text-align: center;
 
  font-size: 10px; /* 12 -> 10 */
  margin: 10px auto;
}

/* 以下に参考サイトのメニュー用CSSを貼り付ける */
/* メニューを画面上部に固定表示しています */
.gMenu {
  /*
  position: fixed;  
  right: 0;
  */
  position: absolute;
  left: 20px;  /* right -> left 20px */
  top: 0;
  width: 100%;
  z-index: 99;
}
/* メニューアイコンを画面右上に固定しています */
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  /*  
  right: 10px;
  */
  left: 20px; /* right -> left 20px */
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
/* メニューアイコン（三本線）の真ん中の線です */
.gMenu .menu-icon .navicon {
  background: #ffc107; /* 色は自由に変更可能です */
  display: block;
  height: 2px; /* 太さ */
  width: 31px; /* 長さ */   /* 31 -> 25  */
  position: relative;
  transition: background .4s ease-out; /* 形が変わる時のアニメーション */
}
/* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: #ffc107; /* 色は自由に変更可能です */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; /* 形が変わる時のアニメーション */
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
.gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
/* 表示されるメニューです */
.gMenu .menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; /* ★最初は高さを0にして非表示状態に */
  transition: max-height .6s; /* 表示されるときのアニメーション */
  text-align: center;
}
/* メニュー部分のデザインです */
.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px; /* add font-size */
  color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid; 
  border-top-color: #ffffff;
  background-color: #7f5539;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}
/* チェックボックスは常に非表示です */
.gMenu .menu-btn {
  display: none;
}
/* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
.gMenu .menu-btn:checked ~ .menu {
  max-height: 600px; /* ★チェックボックスがオンの時高さを338 -> 600pxにして表示させます */
  transition: max-height .6s;
}
/* メニューボタンの中央の線を非表示に */
.gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

/* メニューボタンの上下の線を45度傾けて✕印を作ります */
.gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
/* サイトに合わせてオリジナルカスタマイズ */
.gMenu .menu-icon {
  top: 26px;
}
.gMenu .menu-icon .navicon,
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: #333333;
}









